[Unit]
Description=diffusers bot
Wants=network-online.target
After=network-online.target
StartLimitInterval=0

[Service]
ExecStart=/your_path/diffusers_mastodon_bot/launch.sh
WorkingDirectory=/your_path/diffusers_mastodon_bot/
User=bot
Restart=always
RestartSec=10s
TimeoutStopSec=15s

[Install]
WantedBy=multi-user.target